<form action="/account/<%=@payment.id%>" method='POST'>
  <input type="hidden" name="_method" value="patch">
    <label for="name">Name:</label>
        <input type="text" name="name" value="<%= @payment.name %>">
    <label for="amount">Amount:</label>
        <input type="text" name="amount" value="<%= @payment.amount %>">
    <label for="due_date">Due by: </label>
        <input type="date" name="due_date" value="<%= @payment.due_date%>">
    <label for="description">Description</label>
        <textarea rows="4" cols ="50" name="description" value ="<%= @payment.description %>"></textarea>
    <input type="submit" value="Update">
</form>