<form action="/account/<%=@payment.id%>" method="POST">
<label for="name_of_payment">Name:</label>
    <input type="text" name="name" value="<%=@payment.name%>"><br><br>
    <label for="amount"> Amount:</label>
    <input type="number" min="1" step="any" name="amount" value="<%=@payment.amount%>">
    <label for="due">Due Date: </label>
    <input type="date" name="due_date" value="<%=@payment.due_date%>"><br><br>
    <label for="desciption">Description</label>
    <textarea name="description" value="<%=@payment.description%>"></textarea><br><br>
  <input id="hidden" type="hidden" name="_method" value="PATCH" >
  <input type="submit" value="Done">
</form>

